* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* display: flex;
    flex-direction: column; */
    /* background-color: rgb(209, 31, 31); */
    min-height: 100vh;
    align-content: center;
    /* align-items: center; */
    text-align: center;
}

P {
    color: white;
    background-color: red;
    height: 40px;
}